<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>課程表</title>
    <link rel="stylesheet" href="/css/Upload.css">
</head>
<body>
    <div id="clock"></div>
    <div class="table-container">
        <table>
            <caption>上傳課程</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>第0節<br>06:20~08:10</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第一節<br>08:20~09:10</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第二節<br>09:20~10:10</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第三節<br>10:20~11:10</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第四節<br>11:15~12:05</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第五節<br>12:10~13:00</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第六節<br>13:10~14:00</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第七節<br>14:10~15:00</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第八節<br>15:10~16:00</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第九節<br>16:05~16:55</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第十節<br>17:30~18:20</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第十一節<br>18:30~19:20</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第十二節<br>19:25~20:15</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第十三節<br>20:20~21:10</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
                <tr>
                    <td>第十四節<br>21:15~22:05</td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                    <td class="course-cell"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="/js/clock.js"></script>
</body>
<script src="/js/InsertUpTable.js"></script>
</html>
